

body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    color: black;
    font-size: large;
    text-align: center;
}

#sys {
  margin: 0;
  top: 90%;
  background-color: #f0f0f0;
  color: black;
  font-size: large;
  text-align: center;
}

.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    /* Rounded border */
    border-radius: 50%;
    height: 100;
    width: 100;
}

.avatar__image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#bg {
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: 150%;
    background-position-y: 0%;
}